@import "../../../../styles/styles.scss";

.prioridade-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 20px;
}

.check-icon{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-task {
    width: auto;
    display: flex;
    word-wrap: break-word;
}

.task {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 8px;
    list-style: none;
    border-radius: 8px;
}

.complete {
    background-color: $Complete;
    color: black;
}

.notComplete {
    background-color: $NotComplete;
    color: white;

}