@import "../../../../styles/mixins.scss";



.btn {
    &-custom {
        background-color: rebeccapurple;
        color: white;
        border-radius: 10px;
        padding-inline: 30px;
    }
}

.List {
    &-menu {
        width: 100%;
        padding: 5px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: aliceblue;
    }

    &-item {
        min-width: 220px;
        justify-content: center;
        max-height: 62px;
    }
}

.active{
    border: 1px solid green !important;
}
